* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #585858;
}

.clock {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(png.png);
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 10px rgba(170, 171, 171, 0.2);
}

.clock:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #ffffff;
  border-radius: 50%;
  z-index: 999;
}

.clock .hour,
.clock .min,
.clock .sec {
  position: absolute;
}

.clock .hour,
.hr {
  width: 180px;
  height: 180px;
}

.clock .min,
.mn {
  width: 220px;
  height: 220px;
}
.clock .sec,
.sc {
  width: 250px;
  height: 250px;
}

.hr,
.mn,
.sc {
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
}

.hr:before {
  content: "";
  position: absolute;
  width: 6px;
  height: 90px;
  background-color: #ababab;
  z-index: 10;
  border-radius: 6px 6px 0 0;
}

.mn:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 110px;
  background-color: #d1d1d1;
  z-index: 11;
  border-radius: 6px 6px 0 0;
}
.sc:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 150px;
  background-color: #fff;
  z-index: 12;
  border-radius: 6px 6px 0 0;
}
